<!doctype html>
<html>
	<head>
		<title>My Store</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF­8">
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/catalog/">Каталог</a></li>
				<li><a href="/contacts/">Контакты</a></li>
			</ul>
			<hr/>
		</header>
		<h3>Каталог товаров</h3>
		<img src="/static/images/headphones-1.jpg"
			title="Sony WH-1000XM2"
			width="52" height="66"
		/>
		<br/>
		<a href="items/sony_wh1000xm2.html">Sony WH-1000XM2</a>
		<!-- <a href="sony_wh1000xm2.html">Sony WH-1000XM2</a> -->
		<hr/>
		<footer>
			<p>&copy;Все права защищены</p>
		</footer>
	</body>
	
</html>
