<!doctype html>
<html>
	<head>
		<title>My Store</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF­8">
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/catalog/">Каталог</a></li>
				<li><a href="/contacts/">Контакты</a></li>
			</ul>
			<hr/>
		</header>
		<br/>
		<h3>Напишите нам</h3>
		<p><input type="text" size="30" placeholder="Ваше Имя"><br/><p/>
		<p><input type="text" size="30" placeholder="Email"><br/></p>
		<p><input type="text" size="30" placeholder="Тема"><br/></p>
		<textarea name="message" cols="40" rows="6" placeholder="Введите текст..."></textarea>
		<h3>Адрес</h3>
		Телефон 555-46-74<br>
		Краснопресенская набережная дом 32<br>
		<a href="mailto:contacts@my-store.com">contacts@my-store.com</a> 
		<br>
		<hr/>
		<footer>
			<p>&copy;Все права защищены</p>
		</footer>
	</body>
	
</html>
 <li><a href="catalog.html">Каталог</a></li>