<!doctype html>
<html>
	<head>
<!-- 		<script src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js" 
				data-sap-ui-libs="sap.m"
				data-sap-ui-theme="sap_belize"></script> -->
		<title>My Store</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<meta charset="UTF­8">
	</head>
	<body id="content">
		<header>
			<ul class="menu">
				<li><a href="/">Главная</a></li>
				<li><a href="/catalog/">Каталог</a></li>
				<li><a href="/contacts/">Контакты</a></li>
			</ul>
			<hr/>
		</header>
		<b>Магазин My Store!</b>
		<p>Мы ради приветствовать вас на сайте нашего магазина. Наш магазин специализируется на продаже наушников, в первую очередь лучших беспроводных наушников.</p>
		<hr/>
<p>{{ title.name }}</p>



		<footer>
			<p>&copy;Все права защищены</p>
		</footer>
	</body>
</html>
